<!DOCTYPE html>
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block pagetitle %}История иерархии Русской Православной Церкви с 862 г.{% endblock %}</title>


<link rel="stylesheet" type="text/css" href="/static/simple.css" >
<link rel="stylesheet" type="text/css" href="/static/style.css" >
<link rel="stylesheet" type="text/css" href="/static/edit/edit-style.css" >
<script src="/static/edit/lib.js"></script>

</head>

<body>
    <div class="menu">        
          <ul class="menu">
              <li><a class="{{'current' if item_type is defined and item_type=='cafedra'}}" href="{{url_for('.list_cafedra_edit')}}">Кафедры</a></li>
              <li><a class="{{'current' if item_type is defined and item_type=='episkop'}}" href="{{url_for('.list_episkop_edit')}}">Епископы</a></li>
              <li><a href="{{url_for('.list_tasks')}}">Задачи</a></li>
              <li><a href="/">На главную</a></li>
          </ul>
    </div>

    <script>
        if (window.location.pathname.endsWith('/task')) {
            document.querySelectorAll('.menu li a').forEach(l => {
                if (l.innerText.trim() == 'Задачи') {
                    l.classList.add('current')
                }
            })
        }
    </script>
    
    {% block content required %}
    {% endblock content %}

    <footer>
        Вы вошли под пользователем <strong>{{current_user.title}}</strong>. <a href='/logout'>Выйти</a>
    </footer>

    <script>
        (function () {
            let p = new URLSearchParams(window.location.search)
            let ss = p.get('do_find')
            if (ss) {
                window.find(ss)
            }
        })()
    </script>
</body>
