{% extends "edit/base-edit.html" %}

{% block pagetitle %}
{{doc.header()}}
{% endblock %}

{% block content %}
{% autoescape false %}
<main>

<script src="/static/edit/main.js"></script>
<script>
    let hform = null;

    window.onload = initForm;


    function initForm(){
        try {
            let d = document.querySelector('#data article.cafedra_article');
            hform = makeCafedraEditForm(d);

            let m = document.querySelector('#menu');
            hform.makeMenu(m);
        } catch (ex) {
            showError(ex.message);
            console.log(ex);
        }
    }
</script>

<div id="menu"></div>

<div id="data">
{{doc.html}}
</div>

<div id="message"></div>

<button onclick="saveData()">Сохранить</button>
<span class="download-buttons">
<button onclick="downloadData()">Скачать</button>
<button onclick="document.getElementById('dupl').click()">Загрузить из файла</button>


<input id="dupl" type="file" accept=".html" style="display: none;" onchange="loadDataFromFile()">
</span>

{% if last_edit%}
<div>последняя правка <em>{{last_edit}}</em></div>
{% endif %}

{% endautoescape %}
</main>



<script>
async function saveData() {
    let d = hform.getData();//document.getElementById('data').innerHTML;
    //console.log(d);

    let doc_key = '{{key}}';


    let resp = await fetch('{{post_url}}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify({
            key: doc_key,
            html: d
        }),
        credentials: 'include'
    });

    if (resp.ok) {
        let j = await resp.json();

        if (j.success) {
            showMessage('Изменения сохранены. Дождитесь обновления страницы');
            setTimeout(() =>  window.location.href = '/edit/{{item_type}}/' + j.key, 500);
        } else {
            showError(j.message);
        }

    } else {
        showError(resp.text());
    }
}

function downloadData() {
    var bl = new Blob([hform.getData()], {type: 'text/plain'});

    var a = document.createElement('a');
    document.body.appendChild(a);

    a.href = URL.createObjectURL(bl);
    a.download = hform.header.innerText + '.html';
    a.click();

    document.body.removeChild(a);
}

function loadDataFromFile() {
    var file = document.getElementById('dupl').files[0];
        if (!file) {
            return;
        }

        let reader = new FileReader();
        reader.readAsText(file);

        reader.onload = () => {
            document.getElementById('data').innerHTML = reader.result;
            document.getElementById('menu').innerHTML = '';
            initForm(); // TODO remove old event handlers???
            showMessage('Данные успешно загружены');
        }

        reader.onerror = () => {
            showError("Ошибка загрузки данных файла. Попробуйте ещё раз");
        }

}

function showMessage(msg) {
    tag = document.getElementById('message');
    tag.innerHTML = msg;
}

function showError(msg) {
    showMessage("ERROR: " + msg);
}
</script>



{% endblock %}
