{% extends "edit/base-doc_edit.html" %}

{%block initFormJsFunc %}
<script>
function initForm() {
    try {
        let doc = document.querySelector('#data article.cafedra_article');
        
        H_FORM = new TextForm(doc);
        H_FORM.setMenu(new MenuPanel(document.querySelector('#menu')));
        
        // Свойства уровня всего документа
        H_FORM.addEditor('$FORM_ROOT', 
            new CheckBoxProperty('is-obn', 'раскольничья', 'обновленческая или иной раскол'))
        
        // Заголовок
        H_FORM.addEditor('.header', new TextEditor())        
        
        // Плагин для вставки сносок в последующие разделы
        let notePlugin = new NotePlugin()
        
        // Текст статьи
        H_FORM.addEditor('.text', new TextEditor().withPlugin(notePlugin))

        // Плагин для подсказки кафедры
        suggestPlugin = new SuggestPlugin(new EpiskopSuggestController());
        
        // Таблица кафедр
        H_FORM.addEditor('table.episkops', new HierarhTableEditor('епископы').withPlugin(notePlugin).withPlugin(suggestPlugin));
        
        H_FORM.start();
    } catch (ex) {
        showError(ex.message);
        console.log(ex);
    }
}
</script>
{% endblock %}
