{% extends "edit/base-edit.html" %}

{% block pagetitle %}
{{doc.header()}}
{% endblock %}

{% block content %}
{% autoescape false %}
<main>

<script src="/static/edit/main.js"></script>
<script>
    let hform = null;

    window.onload = function(){
        try {
            let d = document.querySelector('#data article.cafedra_article');
            hform = makeCafedraEditForm(d);

            let m = document.querySelector('#menu');
            hform.makeMenu(m);
        } catch (ex) {
            showError(ex.message);
            console.log(ex);
        }
    }
</script>

<div id="menu"></div>

<div id="data">
{{doc.html}}
</div>


<button onclick="saveData()">Сохранить</button>
<div id="message"></div>

{% endautoescape %}
</main>



<script>
async function saveData() {
    let d = hform.getData();//document.getElementById('data').innerHTML;
    //console.log(d);

    let doc_key = '{{key}}';


    let resp = await fetch('{{post_url}}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify({
            key: doc_key,
            html: d
        }),
        credentials: 'include'
    });

    if (resp.ok) {
        let j = await resp.json();

        if (j.success) {
            showMessage('Saved. Wait page reload');
            setTimeout(() =>  window.location.href = '/edit/{{item_type}}/' + j.key, 500);
        } else {
            showError(j.message);
        }

    } else {
        showError(resp.text());
    }
}

function showMessage(msg) {
    tag = document.getElementById('message');
    tag.innerHTML = msg;
}

function showError(msg) {
    showMessage("ERROR: " + msg);
}
</script>



{% endblock %}
