{% extends "edit/base-edit.html" %}
{%block pagetitle %}Задачи{% endblock %}
{% block content %}
<main>
    <section>
        <form class="control-panel" method="get">
            Всего задач: {{task_count}}
            {% for t in all_statuses %}
                {% if (t in selected_statuses) %}
                    <input type="checkbox" name="status" value="{{t}}" checked>{{t}}</option>
                {% else %}
                    <input type="checkbox" name="status" value="{{t}}">{{t}}</option>
                {% endif %}
            {% endfor %}
            
            <noscript><input type="submit" value="отфильтровать"></noscript>
        </form>
        <script>
            document.querySelectorAll(".control-panel input[type='checkbox']").forEach(cb => {
                cb.addEventListener('change', ev => cb.closest('form').submit())
            })
        </script>
        
        <ul class="items">
            {% for task in items %}
            <li><span class="task-status">{{task.status}}</span> 
                <a href="{{url_for('.get_task', id=task.id, status=selected_statuses)}}">{{task.title}}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{{next_page_url}}">Ещё</a>
    </section>
</main>
<style>
    .control-panel {
        margin-bottom: 15px;
    }

    .items li {
        margin-bottom: 15px;
    }
</style>
{% endblock %}
