{% extends "edit/base-edit.html" %}
{% block content %}
<main>
    <style>
        h1 {
            font-size: 1.5rem;
        }

        body {
            grid-template-columns: 1fr min(900px, 90%) 1fr;
        }

        table.problems {
            font-size: 12pt;
            width: 100%;

            thead th {
                text-align: center;               
            }

            tbody td:first-child {
                width: 30%;
            }

            input-select {
                width: 90%;
            }
        }

        .next-task{
            text-align:right;
        }

        input-select {
            padding:0.5rem;
        }

        input-select[data-key], input-select[data-nolink] {
            border-left: 8px solid green;
            transition: linear 0.1s;
        }

        .info {
            margin: 0;
            font-style: italic;
        }
    </style>    
    <div style="display:none">
        <p id="question-init-data">
            {{task.raw_question()}}
        </p>
        <p id="answer-init-data">
            {{task.raw_answer() or ''}}
        </p>
    </div>

    {% block task_header %}
    <h1>
        <a href="/edit/{{task.doc_coll}}/{{task.doc_key}}" target="_blank" class="title"></a>
    </h1>
    {% endblock %}

    <div>
        <span>Статус: </span><span class="task-status">{{task.status}}</span>
    </div>
    
    <table class="problems hhtable">
        <thead>
            <tr><th>проблема</th><th>решение</th></tr>
        </thead>
        <tbody></tbody>
    </table>

    <label>Комментарий
    <textarea class="comment"></textarea>
    </label>
    

    {% if next_task %}
        <div class="next-task">
            <hr>
            <kbd>Win+Shift+Ю</kbd>
            <a href="{{url_for('.get_task', id=next_task, status=status)}}">следующая задача</a>
        </div>
    {% endif %}
    
    <script>
        'use strict'
        // Заполняем таблицу на основе JSON question-init-data
        let Q = document.getElementById('question-init-data')
        let A = document.getElementById('answer-init-data')
        Q = JSON.parse(Q.innerText.trim() || 'null') || {}
        A = JSON.parse(A.innerText.trim() || 'null') || {}

        let task_header_elem = document.querySelector('.title')
        if (task_header_elem) {
            task_header_elem.innerText = Q.title || ''
        }
        
        if (Q.title) document.title = Q.title;

        let $problemsTable = document.querySelector('.problems tbody')
        let $commentArea = document.querySelector('.comment')
        let $taskStatus = document.querySelector('.task-status')

        for (const pr of (Q.problems || [])) {
            let es = LIB.escapeForHtml
            let row = LIB.createElementByHtml(`
            <tr data-where="${pr.where}">
                <td>${es(pr.item)} - ${es(pr.msg)}</td>
                <td>
                    <input-select suggest="suggestFunc" class="answer">введите что ищем - появится подсказка</input-select>
                    <p class="info"></p>
                </td>
            </tr>
            `)

            if (pr.attachment && pr.attachment.type == 'suggest') {
                row.querySelector('input-select')._defaultSuggest = pr.attachment.suggest.map(k => Object.freeze(k))//Object.freeze(pr.attachment.suggest);
            }

            $problemsTable.append(row)
        }
    </script>
    <!-- Преобразуем input-select теги-->
    <script src="/static/edit/input-select.js"></script>
    <script>
        // После прогрузки всех input-select правим их состояние
        document.addEventListener('DOMContentLoaded', () => {
            // Добавляем данные ответов из answer-init-data
            for (const ans of (A.answers || [])) {
                let t = $problemsTable.querySelector(`[data-where='${ans.where}'] .answer`)

                t.value = ans.value
                if(ans.key) {
                    t.dataset.key = ans.key
                }
                // Обновляем доп. информацию о выбранном элементе
                setInfoTag(t.parentElement.querySelector('.info'), ans.key)

                if(ans.nolink) t.dataset.nolink = ans.nolink
            }

            if (A.comment) $commentArea.value = A.comment

            document.querySelector('input-select.answer').focus();
        })

        // Сохранение задачи при изменениях
        document.addEventListener('change', saveTaskAnswer)
        window.addEventListener('beforeunload', saveTaskAnswer)
        document.addEventListener('suggestSelected', saveTaskAnswer)
        
        // При выборе подсказки обновляем доп. информацию о кафедре
        document.addEventListener('suggestSelected', (ev) => {
            let itag = ev.target.parentElement.querySelector('.info')
            if (itag) {                
                setInfoTag(itag, ev.detail.key)
            }
        })

        function setInfoTag(itag, key) {
            if (!key) {
                itag.innerText = "";
                return;
            }

            itag.innerText = '';
            let url = "/edit/{{linked_coll}}/" + key + '?' + new URLSearchParams({do_find: '{{doc_header}}'})
            
            let atag = document.createElement('a')
            atag.setAttribute('href', url)
            atag.setAttribute('target', '_blank')
            atag.innerHTML = "<kbd>Win+Shift+L</kbd> открыть"

            itag.append(atag)

            fetch(`/edit/{{linked_coll}}/${key}/snippet`, {credentials: 'include' })
            .then(r => r.json())
            .then(js => {
                let snippet = js.snippet || ''
                let tx = document.createElement('span')
                itag.prepend(tx)
                
                tx.innerText = snippet + ' ';
                //itag.closest('td').setAttribute('title', snippet)
            })
        }

        document.addEventListener('suggestOutdated', ev => {
            let itag = ev.target.parentElement.querySelector('.info')
            setInfoTag(itag, null)
        })

        function suggestFunc(v, cancel, elem) {
            if (!v.trim()) {
                let res = elem._defaultSuggest || [];
                return res.concat([{value: 'ссылка не нужна', nolink:"true"}])
            }

            return fetch("/edit/suggest/{{linked_coll}}?" + new URLSearchParams({ query: v }),
                { signal: cancel, credentials: 'include' })                
                .then(resp => resp.json())                
                .then(js => {
                    let r = js.concat([
                        {value: 'ссылка не нужна', nolink:"true"}
                    ])
                    
                    return r;
                })

            /*return new Promise((resolve) => {
                console.log("suggest for", v)
                resolve(["value1", "value2", v])
            })*/
        }

        let oldTaskAnswer = null
        function saveTaskAnswer() {
            let r = buildTaskAnswer()
            let json = JSON.stringify(r)
            if (json === oldTaskAnswer) {
                console.log("No task change for save")
                return;
            }
            oldTaskAnswer = json
            console.debug(r)
            fetch('/edit/task/{{task.id}}/answer', {
                credentials: "include",
                method: "POST",
                headers: {  
                   'Content-Type': 'application/json'  
                },
                body: json,
                keepalive: true // не прерывать запрос при закрытии страницы
            }).then(r => r.json()).then(js => {
                if (js.success && js.status) {
                    $taskStatus.innerText = js.status
                } else {
                    console.error('Error save task:', js)
                    // TODO show message other way
                    alert('Не удалось сохранить изменения! ' + js.message)
                }
            })
        }
        
        function buildTaskAnswer() {
            let arr = []
            for (let ans of $problemsTable.querySelectorAll('tr .answer')) {
                let where = ans.closest('tr[data-where]').dataset.where
                let it = {where, value: ans.value}
                if (ans.dataset.key) {
                    it.key = ans.dataset.key
                } else if (ans.dataset.nolink) {
                    it.nolink = true
                }

                arr.push(it)
            }

            let res = {
                'answers': arr
            }

            if ($commentArea.value.trim()) {
                res.comment = $commentArea.value.trim()
            }

            return res
        }
    </script>

    <script>
        // клавиатурные комбинации
        document.addEventListener('keydown', (e) => {
            if(e.metaKey && e.shiftKey && e.code == 'Period') {
                document.querySelector('.next-task a').click()
            } else if (e.metaKey && e.shiftKey && e.code == 'KeyL') {
                e.target.closest('td')?.querySelector('.info a')?.click()
            }
        })
    </script>

</main>
{% endblock %}
