#menu {
    position: sticky;
    top: 0px;
    background-color: #008899;
    border-bottom: 1px solid gray;
    padding: 0 15px;
    border-radius: 5px;
}

.he-table-menu-inaccurate {
/*
 * Нужно, чтобы чекбокс был невыбираемым, иначе он снимает выделение из текста
 * и уже непонятно, с какой строкой таблицы мы работаем
*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    color: white;
}

/*[contenteditable=true] {
    white-space: pre-wrap;
}*/

.download-buttons {
    float: right;
}


.edit-comment {
    width: 100%;
}

.he-edit-form {
    background-color: white;
}

.he-edit-form .header {
    font-weight: bold;
    font-size: xx-large;
    display: inline-block;
    width: 70%;
}

.version .header {
    font-weight: bold;
}

.he-edit-form .he-props {
    display: inline-block;
    vertical-align: top;
}

.he-edit-form details, .version details {
    display:inline;
    border: none;
    margin-bottom: 0;
}

.he-edit-form details summary, .version details summary {
    padding: 0;
    list-style-type: none;
}

.he-edit-form details summary .he-delete-button {
    display: none;
}

.he-edit-form details[open], .version details[open] {
    display: block;
}

.he-edit-form details[open] summary, .version details[open] summary {
    list-style-type: disclosure-open;
}

.he-edit-form details[open] summary .he-delete-button {
    display: inline;
    padding: 4px;
    margin-left: 10px;
}

.he-edit-form details div, .version details div {
    border-left: 1px solid gray;
    padding-left: 5px;
    border-radius: 10px;
}

.he-undo-button {
    margin-left: 60px;
    background-color: gray;
}


.he-edit-form tr.header-row {
    font-weight: bold;
    font-size: x-large;
}

.he-edit-form tr.inaccurate {
    font-style: italic;
    font-size: 0.9em;
}

.he-edit-form tr.inaccurate td:first-of-type:before {
    content: '(';
}

.he-edit-form tr.inaccurate td:last-of-type:after {
    content: ')';
}

.he-edit-form td {
    height: 40px; /* it is min height */
    border: 1px solid #DDDDDD;
}



/*
td:empty:before {
  content: 'введите текст';
  color: gray;
  position: relative;
}*/ /*attr(data-text)*/

