<!DOCTYPE html>
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block pagetitle %}Панель администратора{% endblock %}</title>


<link rel="stylesheet" type="text/css" href="/static/simple.css" >
<link rel="stylesheet" type="text/css" href="/static/style.css" >
</head>

<body>
    <div class="menu">        
          <ul class="menu">
            <li><a href="/">На главную</a></li>  
            <li><a href="/edit/task">Задачи</a></li>  
          </ul>
    </div>
    {% block content %}
        <main>
            <a class="button" href="{{url_for('.backup_db_edit')}}">скачать бэкап БД редактирования</a>
            
            <a class="button" href="{{url_for('.rebuild_episkop_index')}}" onclick="rebuildEpiskopIndex(event)">Перестроить индекс епископов</a>
            
            <br><br>
            
            <a class="button" href="{{url_for('.download_tasks')}}">Скачать задачи</a>

            <button onclick="uploadTasks(event)">Загрузить задачи</button>

            <button onclick="removeTasks(event)">Удалить все задачи</button>
            
            <textarea id="journal" rows="5" placeholder="Здесь будет лог действий" readonly></textarea>
            
            <span id="status"></span>
            <span title="Обновить статистику" href="#" onclick="updateStat()" style="cursor: pointer;">🔁</span>
        </main>        
    {% endblock content %}
<div class="footer"> 
    <div class="copyright">
    © {{time_now.year}} ПСТГУ. При использовании материалов данного сайта активные ссылки на источник обязательны
    </div>
</div>

<script>
    'use strict';

    const log_area = document.getElementById('journal');

    function log(msg) {
        log_area.textContent += msg + '\n';
        const l = log_area.value.length;
        log_area.setSelectionRange(l, l);
    }

    function logError(msg) {
        log("!!! " + msg)
    }

    window.addEventListener('load', () => {
        try {
            const events = new EventSource("{{url_for('.sse')}}", {
                withCredentials: true
            });

            events.onmessage = function(ev) {
                log(ev.data)
            }

            events.onerror = function(err) {
                console.error("Ошибка получения логов с сервера");
            }
        } catch (er) {
            logError('Ошибка запуска журнала событий ' + er)
            console.error(er)
            return;
        }

        updateStat();
    })

    function rebuildEpiskopIndex(event) {
        event.preventDefault()
        const url = event.target.getAttribute('href')

        fetch(url).then(r => r.json()).then(data => {
            if (data.success) {
                log(data.message)
            } else {
                logError(data.message)
            }
        }).catch(e => {
            logError('Не удалось запустить перестроение индекса: ' + e)
        });        
    }

    function uploadTasks(event) {
        let u = document.createElement('input');
        u.setAttribute('type', 'file')
        u.setAttribute('accept', '.json')

        u.onchange = (ev) => {
            const file = u.files[0];
            const form = new FormData()
            form.append('task_file', file)

            fetch("{{url_for('.upload_tasks')}}", {
                method: 'POST',
                credentials: "include",
                body: form
            }).then(u => u.json()).then(
                data => {
                if (data.success) {
                    log(data.message)
                } else {
                    logError(data.message)
                }
            }).catch(e => {
                logError('Не удалось импортировать задачи: ' + e)
            })
            // TODO Обновить статистику когда импорт закончится
            // Но это не здесь, а в EventSource
        }

        u.click();
    }

    function removeTasks() {
        if (confirm("Все задачи из БД будут удалены! Продолжить?")) {
            fetch("{{url_for('.remove_all_tasks')}}").then(r => r.json()).then(
                data => {
                    if (data.success) {
                       log(data.message)
                    } else {
                        logError(data.message)
                    }
                }
            ).catch(e => {
                logError('Не удалось удалить задачи: ' + e)
            }).finally(() => {
                updateStat();
            })
        }
    }

    function updateStat() {
        fetch("{{url_for('.get_stat')}}").then(r=>r.json()).then(
            data => {
                if (data.success) {
                    document.getElementById('status').textContent = `Кафедр: ${data.cafedra}. Епископов: ${data.episkop}. Задач: ${data.task}`
                }
            }
        )
    }
</script>

</body>