<!DOCTYPE html>
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block pagetitle %}История иерархии Русской Православной Церкви с 862 г.{% endblock %}</title>


<link rel="stylesheet" type="text/css" href="/static/simple.css" >
<link rel="stylesheet" type="text/css" href="/static/style.css" >
</head>

<body>
    <div class="menu">        
          <ul class="menu">
              <li><a class="{{'current' if item_type=='cafedra'}}" href="/cafedra">Кафедры</a></li>
              <li><a class="{{'current' if item_type=='episkop'}}" href="/episkop">Епископы</a></li>
              <li><a href="/">На главную</a></li>
          </ul>
    </div>
    {% block content required %}
    {% endblock content %}
    <div class="footer"> 
    <div class="copyright">
    © {{time_now.year}} ПСТГУ. При использовании материалов данного сайта активные ссылки на источник обязательны
    </div>
</div>

</body>
