{% extends "base.html" %}

{% block pagetitle %}
{{article.header}}
{% endblock %}

{% block content %}
{% autoescape false %}
<main>

<h1 class="{{'obnovl' if article.is_obn}}">{{article.header}}</h1>
{%if article.text %}
    <p>{{article.text}}</p>
{% endif %}
<table class="episkops">
{% for ep in article.episkops %}
<tr>
    {%if ep is string%}
    <th colspan="3" class="episkops_header">{{ep}}</th>
    {% else %}
    <td>
        {% if ep.inexact %}
            {{'('}}
        {% endif %}
        {{ep.begin_dating or ''}}
    </td>
    <td>{{ep.end_dating or ''}}</td>
    <td>
        {%if ep.episkop_id %}
            <a href="/episkop/{{ep.episkop_id}}">{{ep.episkop}}</a>
        {% else %}
            {{ep.episkop}}
        {% endif %}
        {% if ep.inexact %}
                {{')'}}
        {% endif %}
    </td>
    {% endif %}
</tr>
    {% for note in ep.notes%}
    <tr id="note_{{note.num}}" style="display: none;">
        <td colspan="3">
            <div class="table-note">
                {{note.text}}
                <br>
                <a href="#" style="cursor: pointer;">скрыть</a>
            </div>
        </td>
    </tr>
    {% endfor %}

{% endfor %}
</table>

{% endautoescape %}
</main>

<script>
    var articleNotesJson = {{ article.notes | tojson }};
    var articleNotes = articleNotesJson.reduce(function(acc, cur) {
      acc[cur.num] = cur.text;
      return acc;
    }, {});

    var openArticleNote = function(event) {
        event.preventDefault();

        var nextSibling = this.nextElementSibling;
        if (nextSibling && nextSibling.classList.contains('atricle-note')) {
            this.style.border = "none";
            nextSibling.remove();
            return;
        }

        var note = articleNotes[this.dataset.note];

        if (note) {
            this.style.border = "1px solid blue";

            var div = document.createElement('div');
            div.className = 'atricle-note';
            div.textContent = note;
            div.appendChild(document.createElement('br'));

            var closeLink = document.createElement('a');
            closeLink.href = '#';
            closeLink.textContent = 'скрыть';
            closeLink.style.cursor = 'pointer';
            var this_ = this;
            closeLink.addEventListener('click', function(e) {
                e.preventDefault();
                this_.style.border = "none";
                div.remove();
            });
            div.appendChild(closeLink);

            this.insertAdjacentElement('afterend', div);
        }
    }

    var openTableNote = function(event, noteId) {
        event.preventDefault();
        var noteRow = document.getElementById("note_" + noteId);

        if (noteRow && noteRow.style.display == 'none') {
            noteRow.style.display = 'table-row';

            var closeLink = noteRow.querySelector('a');
            closeLink.addEventListener('click', function(e) {
                e.preventDefault();
                noteRow.style.display = 'none';
            });
        } else {
            noteRow.style.display = 'none';
        }
    };

    var links = document.getElementsByClassName("note");

    for (var link of links) {
        var noteId = link.dataset.note;
        if (noteId in articleNotes) {
            link.addEventListener('click', openArticleNote, false);
        } else {
            link.addEventListener('click', (id => event => openTableNote(event, id))(noteId), false);
        }
    }
</script>

</main>

<section>
<header class="comment-form-header">Отправить комментарий</header>
{% import 'lib.html' as lib %}
{{ lib.comment_form('cafedra', article.id, article.header) }}
</section>
{% endblock %}
