<!DOCTYPE html>
<head>

<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>История иерархии Русской Православной Церкви с 862 г.</title>

<link rel="stylesheet" type="text/css" href="/static/simple.css" >
<link rel="stylesheet" type="text/css" href="/static/style.css" >

</head>

<body>
    <form class="search" method="get">
        <input name="query" value="{{query}}">
        <button type="submit">Поиск</button>
    </form>
    
    <ul class="cafedras">
    {% for item in cafedras %}
        <li><a href="/cafedra/{{item[0]}}">{{item[1]}}</a></li>
    {% endfor %}
    </ul>
</body>
