<!DOCTYPE html>
<head>

<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{article.header}}</title>

<link rel="stylesheet" type="text/css" href="/static/simple.css" >
<link rel="stylesheet" type="text/css" href="/static/style.css" >


</head>

<body>
    <header>
        <nav>
          <ul class="collections">
              <li><a class="{{'current' if item_type=='cafedra'}}" href="/cafedra">Кафедры</a></li>
              <li><a class="{{'current' if item_type=='episkop'}}" href="/episkop">Епископы</a></li>
          </ul>
        </nav>
    </header>

    <main>
    {% autoescape false %}
    <h1>{{article.header}}</h1>
    {%if article.text %}
    <p>{{article.text}}</p>
    {% endif %}

    <table class="episkops">
    {% for ep in article.episkops %}
    <tr>
        {%if ep is string%}
        <th colspan="3" class="episkops_header">{{ep}}</th>
        {% else %}
        <td>
            {% if ep.inexact %}
                {{'('}}
            {% endif %}
            {{ep.begin_dating or ''}}
        </td>
        <td>{{ep.end_dating or ''}}</td>
        <td>
            {%if ep.episkop_id %}
                <a href="/episkop/{{ep.episkop_id}}">{{ep.episkop}}</a>
            {% else %}
                {{ep.who}}
            {% endif %}
            {% if ep.inexact %}
                    {{')'}}
            {% endif %}
        </td>
        {% endif %}
    </tr>

    {% for note in ep.notes%}
    <tr class="note_row" id="note_{{note.num}}">
        <td colspan="3">
            <span class="table_note">{{note.num}}</span>
            {{note.text}}
        </td>
    </tr>
    {% endfor %}

    {% endfor %}
    </table>

    <ul class="notes">
    {%for note in article.notes%}
    <li>
        <p>
            <span class="footer_note" id="note_{{note.num}}">{{note.num}}</span>
            {{note.text}}
        </p>
    </li>
    {%endfor%}
    </ul>

    {% endautoescape %}
    </main>
    <script>
        var links = document.getElementsByClassName("note");
        var footerNotes = document.getElementsByClassName("footer_note");
        var tableNotes = document.getElementsByClassName("note_row");
        
        var goToNote = function(event) {
            el = document.getElementById("note_" + this.dataset.note)
            if (el) {
                event.preventDefault();
                el.scrollIntoView();
                var back = this;
                el.parentElement.setAttribute('title', "Нажмите на номер ссылки для возврата обратно");

                var goBack = function() {
                    el.parentElement.removeAttribute('title');
                    back.scrollIntoView();
                }

                el.addEventListener('click', goBack, { once: true, capture: false});
            }
        }

        var openInTable = function(event, noteId) {
            event.preventDefault();
            var noteRow = tableNotes[noteId];

            if (noteRow.style.display == 'none') {
                noteRow.style.display = 'table-row';
            } else {
                noteRow.style.display = 'none';
            }
        };

        var footerNotesLen = footerNotes.length;
        for (var i = 0; i < links.length; i++) {
            if (i < footerNotesLen) {
                links[i].addEventListener('click', goToNote, false);
            } else {
                links[i].addEventListener('click', 
                    (localI => event => openInTable(event, localI))(i-footerNotesLen), false);
                tableNotes[i - footerNotesLen].style.display = 'none';
            }
        }
    </script>
</body>
