{% extends "base.html" %}

{% block pagetitle %}
{{data.header}}
{% endblock %}

{% block content %}
<main>
    <h1 class="{{'obnovl' if data.is_obn}}">{{data.header}}</h1>

    <table class="cafedras">
    {% for caf in data.cafedras %}
    <tr>
        <td>
            {% if caf.inexact %}
                {{'('}}
            {% endif %}
            <a href="/cafedra/{{caf.cafedra_id}}">{{caf.cafedra}}</a>
        </td>
        <td>{{caf.begin_dating or ''}}</td>
        <td>
            {{caf.end_dating or ''}}
            {% if caf.inexact %}
                {{')'}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</main>
{% endblock %}
