<!DOCTYPE html>
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>История иерархии Русской Православной Церкви с 862 г.</title>


<link rel="stylesheet" type="text/css" href="/static/simple.css" >
<link rel="stylesheet" type="text/css" href="/static/style.css" >

</head>

<body>

<div class="header">
<h1 class="main-header"><a target="_blank" href="/cafedra">ИСТОРИЯ ИЕРАРХИИ <br> РУССКОЙ ПРАВОСЛАВНОЙ ЦЕРКВИ</a></h1>

<h2 class="main-header"><a target="_blank" href="/episkop">Комментированные списки иерархов <br> по епископским кафедрам с 862 г.</a></h2>
</div>

<div class="menu">
	<ul>
		<li>
			<a href="/cafedra">
			<button type="button" class="image-button">
			<div class="image">
			  <img src="/files/cafedry.jpg" class="img">
			</div>
			  Кафедры
			  </button>
			</a>
		</li>
  
		<li>
			<a href="/episkop">
			<button type="button" class="image-button">
			<div class="image">
			  <img src="/files/episkopy.jpg" class="img">
			</div>
				Епископы
			  </button>
			</a>
		</li>

		<li>
			<a href="#links">
			<button type="button" class="image-button">
				<div class="image">
					<img src="/files/materials.jpg" class="img">
						</div>
							Материалы
				</button>
			</a>
		</li>
					
		<li>
			<a href="/aboutproject">
			<button type="button" class="image-button">
				<div class="image">
					<img src="/files/aboutproject.png" class="img">
					</div>
						О проекте
			</button>
			</a>
		</li>
	</ul>
</div>

<ul class="main-chapters-list" id="links">
    <li><a target="_blank" href="/files/2. Предисловие к первому изданию.html">Предисловие к первому изданию (2006 г.)</a></li>
    <li><a target="_blank" href="/files/3. Предисловие к второму изданию.html">Предисловие к второму изданию (2019 г.)</a></li>
    <li><a target="_blank" href="/files/4. Губонин Введение.html">M. E. Губонин ВВЕДЕНИЕ В ИСТОРИЮ РОССИЙСКОЙ ИЕРАРХИИ</a></li>
    <li><a target="_blank" href="/files/5. Грюнберг Кирпичев О начале иерархии.html">П. Н. Грюнберг, И. П. Кирпичев К ВОПРОСУ О НАЧАЛЕ РОССИЙСКОЙ ИЕРАРХИИ И РУССКОЙ ЦЕРКВИ</a></li>
    <li><a target="_blank" href="/files/6. Воробьев О происхождении перечней.html">М. Н. Воробьев К ВОПРОСУ О ПРОИСХОЖДЕНИИ ПЕРЕЧНЕЙ (СПИСКОВ) КИЕВСКИХ МИТРОПОЛИТОВ ДОМОНГОЛЬСКОГО ПЕРИОДА В РУССКИХ ЛЕТОПИСЯХ</a></li>
    <li><a target="_blank" href="/files/Приложение 1.html">ПРИЛОЖЕНИЕ 1. АВТОНОМНЫЕ ЦЕРКВИ В СОСТАВЕ МОСКОВСКОГО ПАТРИАРХАТА</a></li>
    <li><a target="_blank" href="/files/Приложение 2.html">ПРИЛОЖЕНИЕ 2. ЭКЗАРХАТЫ, ВАРШАВСКАЯ И ВСЕЯ ПОЛЬШИ МИТРОПОЛИЯ, МИТРОПОЛИЧЬИ ОКРУГА, УПРАВЛЕНИЯ ПРИХОДАМИ И ОТДЕЛЬНЫЕ БЛАГОЧИНИЯ МОСКОВСКОГО ПАТРИАРХАТА</a></li>
    <li><a target="_blank" href="/files/Приложение 3.html">ПРИЛОЖЕНИЕ 3. СПИСОК ЦЕРКОВНЫХ ОКРУГОВ МОСКОВСКОГО ПАТРИАРХАТА (с 1928 г.)</a></li>
    <li><a target="_blank" href="/files/Приложение 4.html">ПРИЛОЖЕНИЕ 4. МИТРОПОЛИИ МОСКОВСКОГО ПАТРИАРХАТА (с 2011 г.)</a></li>
    <li><a target="_blank" href="/files/Приложение 5.html">ПРИЛОЖЕНИЕ 5. СПИСОК КАФЕДР МОСКОВСКОГО ПАТРИАРХАТА</a></li>
    <li><a target="_blank" href="/files/Приложение 6.html">ПРИЛОЖЕНИЕ 6. РУССКАЯ ПРАВОСЛАВНАЯ ЦЕРКОВЬ ЗАГРАНИЦЕЙ (1922-2007)</a></li>
    <li><a target="_blank" href="/files/Приложение 7.html">ПРИЛОЖЕНИЕ 7. АМЕРИКАНСКАЯ МИТРОПОЛИЯ (1927-1970)</a></li>
    <li><a target="_blank" href="/files/Приложение 8.html">ПРИЛОЖЕНИЕ 8. ЭКЗАРХАТ ПРИХОДОВ РУССКОЙ ТРАДИЦИИ В ЗАПАДНОЙ ЕВРОПЕ (с 1931)</a></li>
    <li><a target="_blank" href="/files/Приложение 9.html">ПРИЛОЖЕНИЕ 9. СПИСКИ РАСКОЛЬНИЧЕСКИХ КАФЕДР</a></li>
    <li><a target="_blank" href="/files/Приложение 10.html">ПРИЛОЖЕНИЕ 10. СПИСОК ОБНОВЛЕНЧЕСКИХ МИТРОПОЛИЙ (с 1924 г.)</a></li>
    <li><a target="_blank" href="/files/Приложение 11.jpg">ПРИЛОЖЕНИЕ 11. Схема развития епархиального устроения Русской Православной Церкви от основания древних епархий на её современной канонической территории по настоящее время</a></li>
    <li><a target="_blank" href="/files/Приложение 12.html">ПРИЛОЖЕНИЕ 12. «ИЕРАРХИЯ РОССИЙСКОЙ ПРАВОСЛАВНОЙ ЦЕРКВИ»</a></li>
    <li><a target="_blank" href="/files/Приложение 13.html">ПРИЛОЖЕНИЕ 13. ПИСЬМО Н. В. НУМЕРОВА МИТРОПОЛИТУ АНТОНИЮ (ХРАПОВИЦКОМУ) ОТ 01(14) СЕНТЯБРЯ 1921 ГОДА.</a></li>
    <li><a target="_blank" href="/files/Приложение 14.html">ПРИЛОЖЕНИЕ 14. Николай Кирьянов.<br>
    1) Список канонических архиереев, проживающих в России.<br>
    2) Список архиереев, впавших в “обновленческий” раскол. 1924 г.</a></li>
    <li><a target="_blank" href="/files/Приложение 15.html">ПРИЛОЖЕНИЕ 15. СПИСОК ПРАВОСЛАВНЫХ ЕПИСКОПОВ, ПОДВЕРГАВШИХСЯ ГОНЕНИЯМ ДО 1-ГО МАРТА 1930 Г.</a></li>
    <li><a target="_blank" href="/files/Приложение 16.html">ПРИЛОЖЕНИЕ 16. Священномученик ТИХОН (Шарапов), архиепископ Алма-Атинский</a></li>
    <li><a target="_blank" href="/files/Библиография.html">БИБЛИОГРАФИЯ</a></li>
    <li><a target="_blank" href="/files/Список сокращений.html">СПИСОК СОКРАЩЕНИЙ</a></li>

</ul>


<div class="for-editors"><a href="/edit">Раздел для редакторов</a></div>

<div class="copyright"> 
    <div class="footer">

    <small><strong>© 2024 ПСТГУ. При использовании материалов данного сайта активные ссылки на источник обязательны</strong></small>

    </div>
</div>

</body>


