{% extends "base.html" %}

{% block pagetitle %}
{{header}}
{% endblock %}

{% block content %}


<style>

h1 {
    font-size: 20pt;
}

h2 {
    margin-top: 25px;
    font-size: 16pt;
}

.fnote {
    cursor: pointer;
}

.fnote > sup {
    font-size: small;
}

.fnote > span {
    display: none; 
    text-indent: 0;
    padding-left: 10px;
}

.fnote.open > span {
    display: block;
    font-style: italic;
    border-left: 1px solid gray;
    border-radius: 10px;
    margin-left: 40px;
}
</style>


{% import 'lib.html' as lib %}
{{ lib.init_read_only_foot_notes() }}

<main>
{% autoescape false %}
{{html}}
{% endautoescape %}
</main>
{% endblock %}
