<!DOCTYPE html>
<head>
<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>История иерархии Русской Православной Церкви с 862 г.</title>


<link rel="stylesheet" type="text/css" href="/static/simple.css" >
<link rel="stylesheet" type="text/css" href="/static/style.css" >

</head>

<body>

<p align="center">
Работа выполнена в Отделе новейшей истории Русской Православной Церкви <br> Православного Свято-Тихоновского Гуманитарного Университета <br> под общим руководством <br> заведующего отделом профессора-протоиерея Владимира Воробьева
</p>


<p>Работа начата М. Е. Губониным в 1969 – 1971 гг. <br>
Первое издание (История иерархии Русской Православной Церкви. Комментированные списки иерархов по епископским кафедрам с 862 г. М.: Изд-во ПСТГУ, 2006. 926 с.): канд. ист. наук П. Н. Грюнберг – руководитель, канд. ист. наук Ф. А. Гайда, Е. Н. Грюнберг, И. П. Кирпичев, Н. А. Кривошеева.
Второе издание (История иерархии Русской Православной Церкви: Комментированные списки иерархов по епископским кафедрам с 862 г. 2-е изд., испр. и доп. М.: Изд-во ПСТГУ, 2019. 960 с.): д-р ист. наук Ф. А. Гайда – руководитель, канд. ист. наук, канд. богословия И. В. Воронцова, канд. биол. наук Н. П. Зимина, д-р ист. наук, канд. богословия А. А. Кострюков, Н. А. Кривошеева.
</p>

</body>