
.collections .current {
    color: red;
}


.items, .notes {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.items li  {
    margin-bottom: 10px;
}

.note {
    vertical-align: super;
    font-size: small;
    cursor: pointer
}

.footer_note, .table_note {
    font-weight: bold;
    padding-right: 10px;
    cursor: pointer
}

/*.cafedras a {
    text-decoration: none;
    color: inherit;
}*/



table.episkops {
    border: 1px solid black;
    width: 100%;
    table-layout: fixed;
}

.episkops_header {
 font-size: x-large;
}


